<mat-toolbar style="background-color: #016d81d4">
  <app-logo
    [height]="100"
    [width]="150"
    style="cursor: pointer"
    routerLink="/"
  ></app-logo>
  <div class="d-flex flex-row align-items-center" style="margin-left: auto">
    <button mat-button [matMenuTriggerFor]="menu">
      <span
        class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger"
      >
       {{unseenNotificationsCount}}
      </span>
      <app-notification-icon [width]="45" [height]="35">
      </app-notification-icon>
      <mat-menu
        #menu="matMenu"
        #aboveMenu="matMenu"
        yPosition="above"
        xPosition="before"
      >
        <app-notification
          *ngFor="let notification of notifications,trackBy: trackByFn"
          [notification]="notification"
        ></app-notification>
      </mat-menu>
    </button>
    <mat-divider
      style="border: 1px white solid; margin-right: 15px; min-height: 40px"
      [vertical]="true"
    ></mat-divider>
    <a
      *ngIf="isAuth && user"
      style="display: block; cursor: pointer; text-decoration: none"
      routerLink="/profile/{{user.id}}"
    >
      <img
        class="user-img"
        [src]="user.profileImg"
        alt="user-img"
        *ngIf="user.profileImg"
      />
      <i
        class="bi bi-person-circle h1"
        style="color: white"
        *ngIf="!user.profileImg"
      ></i>
    </a>
  </div>
</mat-toolbar>
