i {
    margin-right: 5px;
}

.add-img-wrapper {
    background-color: #80808038;
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
    width: 80%;
    margin: 10px auto;
}

textarea {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    min-height: 150px;
}

img {
    width: 100%; 
    height: 100%; 
}


mat-form-field {
    width: 50%;
    border-radius: 20px
}

.post-btn {
    color: #016d81d4 !important;
    border-color: #016d81d4 !important;
    border-width: 2px;
}

.cancel-btn {
    color: #f44336 !important;
    border-color: #f44336 !important;
    border-width: 2px;
}

.media-wrapper {
    width: max-content;
    min-width: 100%;
}

.sub-media-wrapper {
    max-width: 255px;
    height: 100%;
    margin: 5px;
}

.cancel-img {
    color: red;
    position: absolute;
    margin: 5px;
    cursor: pointer;
    z-index: 2;
}

.btns-container {
    justify-content: center;
    padding: 5px;
    padding-bottom: 0;
    justify-content: space-evenly;
}
progressbar{
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 140px;
    opacity: 0.8;
}
.file-input {
    display: none;
}
.bi-upload{
    cursor: pointer
}