<div class="d-flex flex-column post" *ngIf="post">
  <div class="d-flex flex-row post-header">
    <a

      style="cursor: pointer; text-decoration: none"
      [routerLink]="'/profile/' + post.owner_id"
    >
      <img
        class="user-img"
        [src]="post.user?.profileImg"
        alt="user-img"
        *ngIf="post.user?.profileImg"
      />
      <i
        class="bi bi-person-circle h2"
        style="margin-right: 5px; margin-bottom: 0"
        *ngIf="!post.user?.profileImg"
      ></i>
    </a>
    <div class="d-flex flex-column post-sub-header">
      <p class="user-name">
        {{ post.user?.first_name + " " + post.user?.last_name }}
      </p>
      <P class="post-date">{{ timeAgo }}</P>
    </div>
  </div>
  <div class="post-body">
    <p>{{ post.body }}</p>
    <carousel [interval]="0" *ngIf="post.media && post.media!.length > 1">
      <slide *ngFor="let media of post.media" style="text-align: center">
        <img
          class="post-img"
          [src]="media.url"
          [attr.width]="[avgMediaDimensions!.width]"
          [attr.height]="[avgMediaDimensions!.height]"
          alt="post-img"
          *ngIf="media.type == 'img'"
        />
        <app-video-player
          [avgDimensions]="avgMediaDimensions"
          *ngIf="media.type === 'video'"
          [url]="media.url"
        ></app-video-player>
      </slide>
    </carousel>
    <div *ngIf="post.media && post.media!.length === 1" >
     <img
      #img
      class="post-img"
      [src]="post.media[0].url"
      alt="post-img"
      *ngIf="
         post.media[0].type == 'img'
      "
    />
    <app-video-player
      [avgDimensions]="avgMediaDimensions"
      *ngIf="
         post.media[0].type == 'video' 
      "
      [url]="post.media[0].url"
    ></app-video-player>
    </div>
   
  </div>

  <div class="post-footer d-flex flex-column">
    <hr />
    <div class="post-footer-btns d-flex flex-row">
      <button mat-stroked-button style="margin-right: 5px" (click)="likeORUnlikePost()">
        <i
          class=""
          [ngClass]="
            postLikedByCurrentUser
              ? 'bi bi-heart-fill  text-danger'
              : 'bi bi-heart'
          "
        ></i>
        {{ " " + likesCount }}
      </button>
      <button mat-stroked-button (click)="openComments()">
        <i class="bi bi-chat-left-text"></i> {{ " " + commentsCount }}
      </button>
    </div>
  </div>
  <ng-template #commentsModal>
    <app-modal [modalRef]="modalRef" [title]="'Comments'" #wait>
      <div
        class="comments"
        *ngFor="let comment of post.comments"
        [attr.id]="'comment' + comment.id"
      >
        <app-comment [comment]="comment"></app-comment>
      </div>
      <app-create-comment
        footer
        style="width: 100%"
        [post_id]="post.id!"
      ></app-create-comment>
    </app-modal>
  </ng-template>
</div>
