#cover-image {
    height: 360px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

#cover-image img {
    width: 100%;
    border-radius: 25px 25px 0 0;
}

#profile-pic {
    height: 100px;
    cursor: pointer;
}

#u-name {
    color: #070000;
    font-size: 36px;
    font-weight: bold;
    height: fit-content;
}

.profile-info {
    font-size: 13px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
    padding: 25px;
    border-radius: 0 0 25px 25px;
}

.btns {
    margin-left: auto;
}

.empty-profile-img,
.user-img {
    margin-right: 15px;
    position: relative;
    bottom: 100px;
}

.user-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.bi-person-circle {
    color: #016d81d4;
    font-size: 150px;
}

.side {
    width: 50%;
    padding: 20px;
}

.posts {
    padding: 20px;
    width: 50%;
}

.profile-body {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 150px;
}

.upload-cover {
    position: relative;
    bottom: 50%;
    z-index: 5;
    left: 50%;
}

.loading,
.viewMedia {
    position: fixed;
    z-index: 999;
    height: fit-content;
    width: fit-content;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before,
.viewMedia:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

::ng-deep .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #016d81;
}

.cancel-img {
    color: red;
    position: absolute;
    margin: 5px;
    cursor: pointer;
    z-index: 2;
    right: 0;
    font-size: x-large;
}

.title {
    font-size: large;
    margin-top: 20px;
    display: block;
    color: #016d81;
    font-weight: 600;
    width: fit-content;
    margin: auto;
}

.viewMedia>img {
    position: relative;
    max-width: 500px;
    max-height: 500px
}

mat-spinner {
    height: 250px;
    width: 250px;
    margin-bottom: 10px
}

.file-input {
    display: none
}

#cover-image>img {
    height: 100%;
    margin: auto
}

app-empty-cover {
    display: block;
    height: 100%
}

.finish-upload-btn {
    background-color: #28a745;
    color: white
}

.cancel-upload-btn {
    background-color: red;
    color: white
}
app-edit-personal-information{
    width: 100%;
}