<div class="d-flex flex-row container">
  <img src="../../../assets/Todays.png" />
  <form *ngIf="signinForm" [formGroup]="signinForm" #form2="ngForm">
    <h2>Sign in</h2>
    <div class="d-flex flex-column">
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          formControlName="email"
          id="email"
          matInput
          placeholder="example@gmail.com"
          type="email"
        />
        <mat-icon matSuffix> email</mat-icon>
      </mat-form-field>
      <div
        class="validation-container"
        *ngIf="
          signinForm.controls['email']?.invalid &&
          signinForm.controls['email']?.touched
        "
      >
        <div
          *ngIf="signinForm.controls['email'].errors?.['pattern']"
          style="font-size: 12px"
        >
          Enter in the format:name&#64;example.com
        </div>
        <div
          *ngIf="signinForm.controls['email']?.touched &&  signinForm.controls['email'].errors?.['required']"
        >
          *Email is required!
        </div>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          id="password"
          matInput
          placeholder="Enter Password"
          type="password"
        />
        <mat-icon matSuffix> password</mat-icon>
      </mat-form-field>
      <div
        class="validation-container"
        *ngIf="
          signinForm.controls['password']?.invalid &&
          signinForm.controls['password']?.touched
        "
      >
        <div *ngIf="signinForm.controls['password'].errors?.['required']">
          *password is required
        </div>
       
      </div>
    </div>
    <div class="backendError" *ngIf="backendError">
      {{ backendError }}
    </div>
    <div class="submit-btn d-flex flex-column justify-content-center mx-auto">
      <button
        [disabled]="!signinForm.valid"
        type="submit"
        mat-raised-button
        color="primary"
        (click)="signin(form2.value)"
      >
        Signin
      </button>
      <p class="account" style=" width: max-content;">
        Don't have account?
        <a
          routerLink="/signup"
          (click)="switchToSignup()"
          style="color: blue; text-decoration: none"
          >Signup</a
        >
      </p>
    </div>
  </form>
</div>
